@import "reset.css";

* {
  box-sizing: border-box;
}

html {
  font-family: Tahoma;
}

body {
  background-image:url('../img/bg.png');
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 36px;
  width: 100%;
  padding-right: 20px;
  background-image: url('../img/menu.jpg');
}

ul {
  display: flex;
  position: relative;
}

ul li:hover {
  background: #4eabda;
}

ul a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: #60b5ed;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}

ul > a {
  color: #ffffff;
  border-left: 1px solid #56a2dc;
  padding-left: 18px;
}

ul > li:last-child > a {
  width: auto;
  margin-right: 15px;
}

ul > li > a:hover {
  color: #ffffff;
  text-shadow: 0 1px #ffffff;
}

.grad {
  display: inline-block;
  width: 215px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to bottom, rgba(81,177,220,1) 0%,rgba(46,122,196,1) 100%);
  font-size: 14px;
}

.grad  a {
  color: #ffffff;
}

.container {
  margin: auto;
  width: 560px;
  margin-top: 213px;
  margin-bottom: 213px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 2px;
  height: 610px;
  color: #cccccc;
}

.title {
  height: 62px;
  font-size: 22px;
  color: #ffffff;
  line-height: 62px;
  border-bottom: 2px solid #ffffff;
}
fieldset {
  border-top: 2px groove #717f80;
  color: #999999;
  margin-top: 30px;
}

legend {
  width: 40px;
    margin-bottom: 30px;
}

.form {
  width: 276px;
  margin: auto;
  padding-top: 36px;
}

.form input:not([type='checkbox']) {
  width: 276px;
  height: 35px;
  margin-bottom: 16px;
  padding-left: 18px;
  background: linear-gradient(to bottom, #111111 0%,#0e0d0d 100%);
  box-shadow: inset 0 -1px 0 #4b4b4b;
  border: none;
  border-radius: 2px;
  color: #fffbfb;
}

.form input:focus {
  background: #1b5288;
  color: ##ffffff;
}

input::placeholder {
  color: ##fffbfb99;
}

.form-group {
 text-align: left;
}

input[type='checkbox'] {
  margin: 0;
}

label {
     font-size: 13px;
     color: #cccccc;
  }

button {
  width: 149px;
  height: 35px;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 15px;
  background: linear-gradient(to bottom, rgba(140,224,255,0.3) 0%,rgba(255,255,255,0.3) 8%,rgba(0,0,0,0.3) 100%);
  background-color: #4299d2;
  border: 1px solid;
  border-radius: 3px;
  border-color: #65A8E4;
}

p {
  font-size: 11px;
  line-height: 14px;
}
